<!--====== Dashboard Features ======-->
<div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
    <div class="dash__pad-1">

        <span class="dash__text u-s-m-b-16">Hello, <%= username ? username : 'no username' %></span>
        <ul class="dash__f-list">
            <li>

                <a href="/user/profile">Manage My Account</a></li>
            <li>

                <a  href="/user/profile">My Profile</a></li>
            <li>

                <a href="dash-address-book.html">Address Book</a></li>
            <li>

                <a href="dash-track-order.html">Track Order</a></li>
            <li>

                <a href="/user/my-order">My Orders</a></li>
            <li>

                <a href="dash-payment-option.html">My Payment Options</a></li>
            <li>

                <a href="dash-cancellation.html">My Returns & Cancellations</a></li>
        </ul>
    </div>
</div>

<!--====== End - Dashboard Features ======-->